body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.img1,
.img2,
.img3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img1 {
  background-image: url(../imgs/city1.jpg);
  min-height: 100%;
  background-position-y: 80%;
  box-sizing: border-box;
}

.img2 {
  background-image: url(../imgs/city2.jpg);
  min-height: 400px;
}

.img3 {
  background-image: url(../imgs/city3.jpg);
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #666;
  color: #f4f4f4;
}

.text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.text .border {
  background-color: #111;
  color: #fff;
  padding: 20px 20px 20px 28px;
}

.text .border.transparent {
  background-color: transparent;
}

@media (max-width: 568px) {
  .img1,
  .img2,
  .img3 {
    background-attachment: scroll;
  }
}
